.navcard{
    background-color: rgb(235, 235, 246);
    max-width: 100%;
    text-align: center;
    display:flex;
    justify-content: space-between;  
    align-items: center;
    flex-wrap: wrap;
    
}