.navcard1{
    background-color:#0a1845;
    max-width: 100%;
    height: fit-content;
}

.navcard2{
    display:flex;
    justify-content:start;   
    padding: 5px;  
}

.navcard3{
    display:flex;
    justify-content:end;     
}

.navcard1 h2{
    color: whitesmoke;  
}